<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ESTILIZAÇÂO -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    
    <title> Minhas Tarefas </title>
  </head>
  
  <body>

    <div class="header">
      <h2>Minha lista de tarefas</h2>
      <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newElement()" class="addBtn">Adicionar</span>
    </div>
  
    <ul id="myUL">
      <li>Ir ao Pet shop</li>
      <li class="checked">Pagar Letícia</li>
      <li>Comprar ovos</li>
      <li>Organizar escritório</li>
      <li>Ler meu livro favorito</li>
    </ul> 
    <br>
   
    <!-- <script src="/src/index.js"></script> -->
    <script src="{{ url_for('static', path='/js/index.js') }}"></script>
  </body>
</html>